<mat-drawer-container class="example-container mat-typography" autosize>
    <mat-drawer #drawer mode="side" disableClose="true" [opened]="true" class="sidebar" [ngClass]="{'showSidebar': isExpanded, 'hideSidebar': !isExpanded}">
      <button mat-mini-fab (click)="toggleSidebar()" color="warn" class="toggle-button">
        <mat-icon aria-label="Menu">menu</mat-icon>
      </button>
      
      <img src="path_to_logo.png" alt="Gest Event Logo" class="sidebar-logo">
  
      <mat-nav-list>
        <mat-list-item class="menu-item">
          <mat-icon mat-list-icon class="menu-icon">home</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Accueil</h4>
        </mat-list-item>
        <mat-list-item class="menu-item">
          <mat-icon mat-list-icon class="menu-icon">event</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Evenement</h4>
        </mat-list-item>
        <mat-list-item class="menu-item">
          <mat-icon mat-list-icon class="menu-icon">person</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Utilisateurs</h4>
        </mat-list-item>
        <mat-list-item class="menu-item">
          <mat-icon mat-list-icon class="menu-icon">settings</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Reglages</h4>
        </mat-list-item>
      </mat-nav-list>
  
      <button mat-mini-fab class="logout-button">
        <mat-icon aria-label="Logout">exit_to_app</mat-icon>
        <span *ngIf="isExpanded">Deconnexion</span>
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      Your cards and screen content go here.
      Will be pushed towards right on expanding the side navbar.
    </div>
  </mat-drawer-container>
  